Q1

In [2]:
L =  [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
L.remove(10)
L.remove(30)
L.sort()
print("Ascending order: \n",L)
L.sort(reverse=True)
print("Descending order: \n",L)

Ascending order:
 [20, 40, 50, 60, 70, 80, 200, 300]
Descending order:
 [300, 200, 80, 70, 60, 50, 40, 20]

Q2

In [8]:
marks =  (45, 89.5, 76, 45.4, 89, 92, 58, 45)
maxx= max(marks)
print(f"Highest score is {maxx} at index {marks.index(maxx)}" )
minn = min(marks)
print(f"Lowest score is {minn}. It appears {marks.count(minn)} times" )
reverseMarks = list(marks[::-1])
print(reverseMarks)
if(76 in marks):
  print(f"76 is present at index {marks.index(76)}")
else:
  print("76 is not present")

Highest score is 92 at index 5
Lowest score is 45. It appears 2 times
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
76 is present at index 2

Q3

In [4]:
import random
nums = [random.randrange(100,901) for i in range(100)]
oddnums , evennums, primenums = [],[],[]

def isPrime(n):
  if n<2:
    return False
  for i in range(2,int(n**0.5)+1):
    if n%i==0 :
      return False
  return True

for num in nums:
  (oddnums if num%2 else evennums).append(num)
  if(isPrime(num)):
    primenums.append(num)
print(oddnums)
print(evennums)
print(primenums)

[351, 743, 617, 695, 621, 337, 477, 499, 877, 699, 769, 461, 869, 721, 739, 135, 179, 507, 717, 451, 617, 457, 625, 769, 733, 401, 539, 531, 569, 649, 647, 197, 267, 293, 383, 153, 809, 329, 735, 399, 867, 361, 601, 861, 173, 333, 781, 599, 835]
[126, 446, 274, 880, 476, 854, 280, 134, 158, 652, 276, 710, 846, 722, 874, 222, 476, 308, 354, 194, 140, 266, 582, 392, 722, 216, 744, 248, 582, 250, 496, 502, 568, 700, 258, 490, 584, 474, 884, 376, 664, 262, 632, 770, 804, 198, 126, 550, 886, 314, 606]
[743, 617, 337, 499, 877, 769, 461, 739, 179, 617, 457, 769, 733, 401, 569, 647, 197, 293, 383, 809, 601, 173, 599]

Q4

In [9]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print("Union: ",A|B)
print("Intersection: ",A&B)
print("Symmetric difference: ", A^B)
print("is A a subset of B? ",A<=B)

delScore = int(input("Enter score to delete: "))
if(delScore in A):
  A.remove(delScore)
else:
  print("Given score is not present in set A")
print("Updated set A is: ",A)

Union:  {34, 45, 78, 23, 56, 90}
Intersection:  {90, 78}
Symmetric difference:  {34, 45, 23, 56}
is A a subset of B?  False
Enter score to delete: 90
Updated set A is:  {56, 34, 78}

Q5

In [11]:
sample_dict = {"name": "kelly", "age": 25, "salary": 8000, "city": "New York"}
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}